{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: marek_test
 * Generated on: Mon, 15 Mar 21 23:45:52 -0600
 */
#}
{{ attach_library('marek_test/marek_test.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
